################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Auth0.ClaimsProvider/bin/Debug
